.shop-sec1{
    width: 100%;
    height: 140px;
    background: url("../../images/aboutPage-sec1-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;    
}
.shop-sec1 h1{
    font-size: 40px;
    line-height: 42px;
    color: #222222;
    font-weight: 700;
    font-family: Questrial, sans-serif;
}
.shop-sec1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.shop-sec1 ul li{
    color: #777777;
    font-size: 13px;
    line-height: 24px;
    font-family: Questrial, sans-serif;
    cursor: pointer;
}
.shop-sec1 ul li.arrow{
    margin: 0 10px;
    cursor: auto;
}

@media(max-width: 1200px){
    *{
        margin: 0;
        padding: 0;
        max-width: 1200px !important;
        box-sizing: border-box;
    }
    .shop-sec1{
        width: 100%;
        height: 140px;
        background: url("../../images/aboutPage-sec1-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;  
        margin-top: 15px;  
    }
    .shop-sec1 h1{
        font-size: 36px;
        line-height: 40px;
        color: #222222;
        font-weight: 700;
        font-family: Questrial, sans-serif;
    }
}

@media(max-width: 991px){
    *{
        margin: 0;
        padding: 0;
        max-width: 991px !important;
        box-sizing: border-box;
    }
    .shop-sec1{
        width: 100%;
        height: 140px;
        background: url("../../images/aboutPage-sec1-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;  
        margin-top: 15px;  
    }
    .shop-sec1 h1{
        font-size: 32px;
        line-height: 38px;
        color: #222222;
        font-weight: 700;
        font-family: Questrial, sans-serif;
    }
}

@media(max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        max-width: 768px !important;
        box-sizing: border-box;
    }
    .shop-sec1{
        width: 100%;
        height: 140px;
        background: url("../../images/aboutPage-sec1-bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;  
        margin-top: 15px;  
    }
    .shop-sec1 h1{
        font-size: 28px;
        line-height: 36px;
        color: #222222;
        font-weight: 700;
        font-family: Questrial, sans-serif;
    }
}

