.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
} 
.empty p{
    font-size: 25px;
    font-family: Questrial, sans-serif;
    color: #599bfd;
    padding: 20px 0;
    margin: 0;
}
.empty-img img{
    width: 150px;
}
.empty button{
    padding: 10px 20px;
    margin-bottom: 50px;
    border: 0;
    background-color: rgb(250, 101, 46);
    font-size: 18px;
    font-family: Questrial, sans-serif;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: .5s all;
}
.empty button:hover{
    color: #ffffff;
}
.empty button::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #599bfd;
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
.empty button:hover::before{
    transform: scaleX(1);
}
table{
    width: 100%;
    border-collapse: collapse;
}
table th{
    text-align: left;
    padding: 15px 10px;
    color: #fff;
    background: #6d9b88;
    font-size: 20px;
    font-weight: 400;
    font-family: Questrial, sans-serif;
}
table td.table-data{
    padding: 10px 10px;
    border-bottom: 2px solid #6d9b88;
    font-size: 18px;
    font-weight: 400;
    font-family: Questrial, sans-serif;
}
td .buttons{
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
td button.minus-button{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #deb887;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
td button.plus-button{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #abd28b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
td button.quantity{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #6d9b88;
}
td .remove{
    display: flex;
    justify-content: flex-end;
}
td button.remove-button{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #85b88d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
}
table td img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
tr.cart-total{
    border-bottom: 3px solid #6d9b88;
}
.total-price{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    font-family: Questrial, sans-serif;
}
.total-price table{
    width: 100%;
    height: 80px;
    max-width: 562px;
    margin: 20px 0;
}
.total-price tr.cart-total td{
    padding-bottom: 15px;
}
td .general-remove{
    display: flex;
    justify-content: flex-end;
}
td .general-remove-button{
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #00a875;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-align: right;
    margin-top: 20px;
}
td:last-child{
    text-align: right;
}

@media(max-width: 1200px){
    *{
        margin: 0;
        padding: 0;
        max-width: 1200px !important;
        box-sizing: border-box;
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 130px;
    } 
    .empty p{
        font-size: 25px;
        font-family: Questrial, sans-serif;
        color: #599bfd;
        padding: 20px 0;
        margin: 0;
    }
    .empty-img img{
        width: 150px;
    }
    .empty button{
        padding: 10px 20px;
        margin-bottom: 50px;
        border: 0;
        background-color: rgb(250, 101, 46);
        font-size: 18px;
        font-family: Questrial, sans-serif;
        color: #fff;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: .5s all;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px !important;
    }
    table th{
        text-align: left;
        padding: 15px 10px;
        color: #fff;
        background: #6d9b88;
        font-size: 20px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    table td.table-data{
        padding: 10px 10px;
        border-bottom: 2px solid #6d9b88;
        font-size: 18px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    td .buttons{
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    td button.minus-button{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #deb887;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.plus-button{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #abd28b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.quantity{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        background-color: #6d9b88;
    }
    td button.remove-button{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #85b88d;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    .total-price table{
        height: 80px;
        width: 500px;
        margin: 20px 0;
    }
    td .general-remove-button{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: #00a875;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        margin-top: 20px;
    }
}

@media(max-width: 991px){
    *{
        margin: 0;
        padding: 0;
        max-width: 991px !important;
        box-sizing: border-box;
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 130px;
    } 
    .empty p{
        font-size: 23px;
        font-family: Questrial, sans-serif;
        color: #599bfd;
        padding: 20px 0;
        margin: 0;
    }
    .empty-img img{
        width: 150px;
    }
    .empty button{
        padding: 10px 15px;
        margin-bottom: 50px;
        border: 0;
        background-color: rgb(250, 101, 46);
        font-size: 17px;
        font-family: Questrial, sans-serif;
        color: #fff;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: .5s all;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px !important;
    }
    table th{
        text-align: left;
        padding: 15px 10px;
        color: #fff;
        background: #6d9b88;
        font-size: 18px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    table td.table-data{
        padding: 10px 10px;
        border-bottom: 2px solid #6d9b88;
        font-size: 17px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    td .buttons{
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    td button.minus-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #deb887;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.plus-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #abd28b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.quantity{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        background-color: #6d9b88;
    }
    td button.remove-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #85b88d;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
        font-size: 17px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    .total-price table{
        height: 80px;
        width: 415px;
        margin: 20px 0;
    }
    td .general-remove-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #00a875;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        margin-top: 20px;
    }
}

@media(max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        max-width: 768px !important;
        box-sizing: border-box;
    }
    .empty{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 130px;
    } 
    .empty p{
        font-size: 20px;
        font-family: Questrial, sans-serif;
        color: #599bfd;
        padding: 20px 0;
        margin: 0;
    }
    .empty-img img{
        width: 150px;
    }
    .empty button{
        padding: 7px 12px;
        margin-bottom: 50px;
        border: 0;
        background-color: rgb(250, 101, 46);
        font-size: 16.5px;
        font-family: Questrial, sans-serif;
        color: #fff;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        z-index: 0;
        transition: .5s all;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px !important;
    }
    table th{
        text-align: left;
        padding: 15px 10px;
        color: #fff;
        background: #6d9b88;
        font-size: 18px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    table td.table-data{
        padding: 10px 10px;
        border-bottom: 2px solid #6d9b88;
        font-size: 16.5px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    td .buttons{
        width: 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    td button.minus-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #deb887;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.plus-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #abd28b;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
    }
    td button.quantity{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        background-color: #6d9b88;
    }
    td button.remove-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #85b88d;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
    }
    .total-price{
        display: flex;
        justify-content: flex-end;
        font-size: 16.5px;
        font-weight: 400;
        font-family: Questrial, sans-serif;
    }
    .total-price table{
        width: 100%;
        height: 80px;
        margin: 20px 0;
    }
    td .general-remove-button{
        width: 45px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #00a875;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        margin-top: 20px;
    }
}

